<h1>Events</h1>
<%= link_to "Create Event", new_event_path %>

<% @events.each do |event| %>
    <div class="event-listing">
        <h3><%= link_to event.event_title, event %></h3>
        <p>Event happening on: <%= event.event_date %></p>
    </div>
<% end %>